/*variables */
@pageWidth: 490px;

/* mixins */
.transition(@all, @ease) {
	transition: all @all ease @ease;
	-moz-transition:  all @all ease @ease; /* Firefox 4 */
	-webkit-transition:  all @all ease @ease; /* Safari and Chrome */
	-o-transition:  all @all ease @ease; /* Opera */
}

/* table styling */
table {
	border-collapse: collapse;
	border: 2px solid;
	tr:nth-child(3n) { 
		border-bottom: 2px solid;
	}
	tr td:nth-child(3n) {
		border-right: 2px solid;
	}
	
	td {
		border: 1px solid #e2e2e2;
		font-weight: bold;
		text-align: center;
	}
	
	td.input {
		padding: 0;
		input {
			background: none;
			border: 0;
			display: block;
			width: 48px;
			height: 48px;
			padding: 4px;
			text-align: center;
			font-weight: normal;
			margin-bottom: 0;
			box-shadow: none;			
		}
	}
	
	td.highlighted {
		background: #f2f2ff;
	}
	
	td.hover {
		background: #eeeec2;
	}
	
	
}


/* divs styling */
.wrapper {
	width: @pageWidth;
	margin: 0 auto;	
	padding-top: 30px;
	.start_game {
		text-align: center;
		padding-top: 0;
	}
	.board_wrapper {
		display: none;
		float: left;
		.board {
			display: none;
			float: left;
			margin: 0 0 0 3px;
			background: #ffffff;		
		}	
		.buttons {
			width: 100%;
			text-align: center;
			float: left;
		}
		.buttons.bottom {
			margin-top: 15px;
		}
		.buttons.top {
			margin: 15px 0;
			button {
			margin-top: -13px;
		 }
			
		}
		.timer {
			font-size: 30px;
			margin: 0 20px 10px;
			color: #2b2b2b;
			.transition(0.3s, 0);			
		}
		.timer.stopped {
			color: #999;
		}
	}
	.buttons {
		display: none;
	}
}